@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	font-family: "Raleway";
	overflow-x: hidden;
	max-width: 100%;

}

h4,p {
	margin:auto;
}


.logo {
	align-items: center;
	display: inline-flex;
	margin-left: 50px;
	width: 150px;
	position: absolute;

}

.flex-container {
	margin-left: 50px;
	margin-right: 60px;
	display: -webkit-box;

}

a {
	color: inherit;
	text-decoration: none;
	
}



.menuheb {
	padding-top: 20px; 
	color: #0065FC;
	list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.menuheb:hover {
    border-top: 2px solid;
    border-top-color: #0065FC;
}


.menuactiv {
	list-style: none;
    display: inline-flex;
    justify-content: center;
    padding-left: 50px;
    align-items: center;
    font-size: 1.5em;
    padding-top: 20px; 
}

.menuactiv:hover {
    border-top: 2px solid;
    border-top-color: #0065FC;
}

.sinscrire {
	float: right;
	padding-left: 50px;
	color: #0065fc;
	font-weight: bold;
	list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding-top: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.recherche {
    margin-left: 50px;
    margin-bottom: 30px;
}

.mapmarker i {
  align-items: center;
  background-color: #f2f2f2;
  font-size: 1.2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 60px;
  width: 65px;
  margin-left: 0px;
  position: relative;
  display: inline-flex;
}

.search {
	display: inline-flex;
	margin-top: 20px;
}

.searchfield {
	height: 53px;
	font-weight: bold;
	font-size: 1.5em;
	color: #000000;
	padding-left: 15px;
	width: 305px;
	border-color: transparent;
}
.research {
	border: 2px solid;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	height: 56px;
	width: 500px;
	border-color: #f2f2f2;
	border-right-color: transparent;
}

.searchbutton {
	height: 58px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0065FC;
	color: #FFFFFF;
	font-size: 1.5em;
	width: 190px;
	margin: 0;

}

.searchfa {
	background-color: transparent;
	color: transparent;
	border-color: transparent;

}
.category-head {
	margin-left: 50px;
	display: flex;
	flex-wrap: wrap;


}

.icontextfilters {
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	justify-content: center;
	border: 3px solid;
	margin-right: 25px;
	border-radius: 60px;
	border-color: #F2F2F2;
	width: 290px;
	height: 50px;
	margin-bottom: 15px;
	

}

.icontextfilters:hover {
	color: #0065fc;
	font-weight: bold;
	background-color: #DEEBFF;
}

.filterdescription {
	display: inline-block;
	border: 1px solid;
	border-color: transparent;
	width: 210px;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-top: 0px;
	font-size: 1.5em;
}

.filtres {
	margin-left: 50px;
	display: flex;

}

.filters {
	display: flex;
	width: 100%;
}

.info {
  	margin-top: 15px;
  	width: 100%;
  	display: inline-flex;
  	margin-left: 50px;
  	margin-bottom: 30px;
}

.info p {
  	font-size: 1.1em;
  	margin-left: 0;
  	margin-top: 20px;
}

.iconinfo {
	border: 2px solid;
	border-radius: 50%;
	width: 20px;
	height: 30px;
	align-items: center;
	display: inline-flex;
	color: #0065FC;
	float: left;
    margin-top: 17px;
    font-size: 0.8em;
    border-color: #f2f2f2;
    padding-left: 12px;
    margin-right: 20px;
}

.hebergements {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

#hebergements {
	font-size: 1.5em;
}


.hebergements p {
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 0.9em;
}
.boxhebergement h4 {
	font-size: 1.1em;
	padding-left: 10px;
	padding-bottom: px;
}

.boxhebergement {
	border: 1px solid;
	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	display: flex;
	width: 16.5vw;
	padding: 5px;
	height: 12vw;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	margin: 10px 0 25px 0;
}


h2 {
	margin-left: 0px;
	font-weight: bold;
	font-size: 1.5em;
}

.recherche p {
	font-size: 1.3em;
}


h3 {
	font-size: 1.7em;
	border-radius: 20px;
	border-color: #f2f2f2;
	width: 800px;
	display: block;
	justify-content: space-between;
	font-weight: bolder;

}

.charticon {
	font-size: 1.9em;
	margin-top: 30px;
	position: relative;
}

.poptitle {
	display: flex;
	font-weight: bolder;
}

.boxpopulaire {
	border: 1px solid;
	border-radius: 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	display: inline-block;
	width: 100%;
	height: 9.5vw;
	padding: 5px;
	margin-bottom: 30px;
	cursor: pointer;
	box-shadow: 0 0 6px 3px #b1b1b14b;


}

.boxpopulaire h5 {
	font-size: 1.3em;
	margin: 0;
	padding-top: 10px;
	font-weight: bold;


}

.boxpopulaire p {
	font-size: 1.1em;
	padding-bottom: 50px;

}

h1 {
	font-weight: bolder;
	font-size: 2.1em;

}

h4 {
	color: #000000;
	font-weight: bolder;
	font-size: 1.3em;
}


h5 {
	color: #000000;
	font-weight: bolder;
	border-radius: 20px;
	border-color: #ffffff;
	font-size: 1.3em;
}

.container {
	color: #000000;
	font-size: 20px;
	background-color: #F2F2F2;
	margin-left: 50px;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
	width: 67%;
	height: auto;
	border-radius: 20px;
	display: block;
	padding-bottom: 40px;
}


.iconeconomique {
	padding: 15px;
	padding-bottom: 15px;
	border: 1px solid;
	border-radius: 50%;
	border-color: #DEEBFF;
	width: 23px;
	height: 23px;
	position: relative;
  	display: inline-flex;
  	color: #0065FC;
  	background-color:#DEEBFF;
  	align-items: center;
  	box-shadow: 0 0 6px 3px #DEEBFF;

}

.iconchild {
	padding: 15px;
	padding-bottom: 15px;
	border: 1px solid;
	border-radius: 50%;
	border-color: #DEEBFF;
	width: 23px;
	height: 23px;
	position: relative;
  	display: inline-flex;
  	color: #0065FC;
  	background-color:#DEEBFF;
  	align-items: center;
  	box-shadow: 0 0 6px 3px #DEEBFF;
}

.iconheart {
	padding: 15px;
	padding-bottom: 15px;
	border: 1px solid;
	border-radius: 50%;
	border-color: #DEEBFF;
	width: 23px;
	height: 23px;
	position: relative;
  	display: inline-flex;
  	color: #0065FC;
  	background-color:#DEEBFF;
  	align-items: center;
  	box-shadow: 0 0 6px 3px #DEEBFF;
}

.iconanimal {
	padding: 15px;
	padding-bottom: 15px;
	border: 1px solid;
	border-radius: 50%;
	border-color: #DEEBFF;
	width: 23px;
	height: 23px;
	position: relative;
  	display: inline-flex;
  	color: #0065FC;
  	background-color:#DEEBFF;
  	align-items: center;
  	box-shadow: 0 0 6px 3px #DEEBFF;
}

i {
	align-content: space-around;
	justify-content:space-around;
	display: inline-flex;
	text-align: center;
	position: relative; 
	align-items: center;
}

img {
	max-width: 100%;
	height: auto;
}

.imgheb {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
	width: 100%;
    height: 55%;
}

.imagepopulaire {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
	width: 35%;
    height: 100%;
    float: left;
    margin-right: 15px;
}

.imgactivbig,
.imgactiv1,
.imgactiv2,
.imgactiv3,
.imgactiv4 {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	object-fit: cover;
	width: 100%;
}

.imgactivbig {
	height: 540px;
    padding: 0;
    margin: 0;
}

.imgactiv1 {
	height: 230px;
    padding: 0;
    margin: 0;
}

.imgactiv2 {
	height: 160px;
    padding: 0;
    margin: 0;
}

.imgactiv3 {
	height: 215px;
    padding: 0;
    margin: 0;
}

.imgactiv4 {
	height: 215px;
    padding: 0;
    margin: 0;
}


p {
	color: #000000;
}

.etoilebleu {
	color: #0065FC;
}

.etoilegrise {
	color: #e0e0e0;
}

.etoiles,
.etoilesheb {
	display: inline-flex;
}

.etoilesheb {
	padding-left: 10px;
	font-size: 18px;
	padding-bottom: 5px;
}

.lespluspopulaires {
	border: 1px solid;
	border-color: #F2F2F2;
	display: flex;
	background-color: #F2F2F2;
	flex-direction: column;
	border-radius: 20px;
	width: 26%;
	height: auto;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
}

.lespluspopulaires h3 {
	font-size: 1.9em;
}

.afficherplus {
	font-weight: bolder;
	font-size: 1.1em;
}



main {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#activitesection {
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    position: relative;
}

#activitesection h3 {
	font-size: 1.9em;
	font-weight: bolder;

}

.activites {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    margin-bottom: 50px;
    background-color: #ffffff;
    width: 100%;
}

.activites h4 {
	font-size: 1.3em;
	padding-left: 15px;
	padding-top: 10px;
	font-weight: bold;
}

footer h5 {
	font-size: 1.3em;
	margin-left: 40px;
}
                                                                                 
footer ul li {
	font-size: 1.1em;
	justify-content: space-between;
	list-style-type: none;
	padding-bottom: 5px;
}

.activite1 {
    width: 405px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: contain;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 3px #b1b1b14b;

}

.activite4 {
    width: 405px;
    display: flex;
    flex-direction: column;
    height:100%;
    background-size: contain;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

.activite2 {
	flex-basis: 60%;
	width: 405px;
    height: 52%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    margin-bottom: 84px; 
}

.activite3 {
	flex-basis: 40%;
	width: 405px;
    height: 220px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}


.activite5 {
	flex-basis: 45%;
	width: 405px;
    height: 48%;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 55px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

.activite6 {
	flex-basis: 45%;
	width: 405px;
    height: 48%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}


.activitemarseille {
	width: 100%;
}

footer {
	border: 1px solid;
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	display: flex;
	width: 100%;
	height: auto;
	cursor: pointer;
	justify-content: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;

}

.apropos,
.noshebergements,
.assistance {
    display: block;
    margin-right: 18vw;

}

.apropos,
.assistance {
  	margin-top: 15px;
}

@media screen and (max-width: 1800px){
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 350px;
	}
	.boxhebergement {
		width: 16vw;
		padding: 5px;
		height: 12vw;
	}
}

@media screen and (max-width: 1600px){
	.etoiles,
	.etoilesheb {
		font-size: 15px;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 300px;
	}
	.activites h4 {
		font-size: 1.2em;
	}
	.boxhebergement {
		width: 19vw;
		padding: 5px;
		height: 13.5vw;
	}
	.lespluspopulaires,
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 1500px){
	#activitesection h3 {
		font-size: 1.7em;
	}
	.lespluspopulaires h3 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em;
	}
	.boxhebergement {
		width: 19vw;
		padding: 5px;
		height: 13vw;
	}
	.hebergements p {
		padding-bottom: 0px;
	}
	.hebergements h4,
	.afficherplus {
		font-size: 1em;
		padding-bottom: 0px;
	}
	.populaires h5,
	.activites h4 {
		font-size: 1.2em;
	}
	.lespluspopulaires {
		margin-left: 10px;
	}
	.container {
		width: 63%;
	}
	.boxpopulaire p {
		padding-bottom: 5px;
	}

}

@media screen and (max-width: 1300px){
	.hebergements p {
		padding-left: 0px;
		font-size: 0.8em;
	}
	.hebergements h4,
	.afficherplus {
		padding-left: 0px;
		padding-bottom: 5px;
	}
	.boxpopulaire h5 {
		font-size: 1.2em;
		padding-top: 5px;
	}

	.boxpopulaire p {
		font-size: 1em;
	}
	.etoilesheb {
		padding-left: 0px;
	}
	.imgactivbig {
		height: 500px;
	}
	.imgactiv1 {
		height: 200px;
}
	.imgactiv2 {
		height: 160px;
}
	.imgactiv3 {
		height: 190px;
}
	.imgactiv4 {
		height: 190px;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 280px;
	}
	.activite1,
	.activite4 {
		height: 550px;
	}
	.activite2 {
    	height: 250px;
    	margin-bottom: 90px;
	}
	.activite3 {
    	height: 210px;
	}
	.activite5 {
    	height: 240px;
    	margin-bottom: 65px;
	}
	.activite6 {
    	height: 240px;
	}
	.container {
		width: 60%;
	}
	.boxhebergement {
		width: 19vw;
		padding: 0px;
		height: 14vw;
	}
}

@media screen and (max-width: 1200px){
	.imgactivbig {
		height: 450px;
	}
	.imgactiv1 {
		height: 190px;
}
	.imgactiv2 {
		height: 150px;
}
	.imgactiv3 {
		height: 180px;
}
	.imgactiv4 {
		height: 180px;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 260px;
	}
	.activite1,
	.activite4 {
		height: 510px;
	}
	.activite2 {
    	height: 250px;
    	margin-bottom: 50px;
    }
	.activite3 {
    	height: 210px;
	}
	.activite5 {
    	height: 240px;
    	margin-bottom: 30px;
	}
	.activite6 {
    	height: 240px;
	}
	.boxhebergement {
		width: 20vw;
		padding: 0px;
		height: 15vw;
	}
	.etoiles,
	.etoilesheb {
		font-size: 13px;
	}
	.container {
		width: 64%;
	}

	
}

@media screen and (max-width: 1100px){
	.imgactivbig {
		height: 460px;
	}
	.imgactiv1 {
		height: 200px;
}
	.imgactiv2 {
		height: 150px;
}
	.imgactiv3 {
		height: 190px;
}
	.imgactiv4 {
		height: 190px;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 230px;
	}
	.activite1,
	.activite4 {
		height: 500px;
	}
	.activite5 {
    	height: 230px;
    	margin-bottom: 40px;
	}
	.activite2 {
    	height: 240px;
    	margin-bottom: 70px;
	}
	.activite3 {
    	height: 190px;
	}
	.activite6 {
    	height: 230px;
	}
	.hebergements h4,
	.afficherplus {
		font-size: 0.8em;
		padding-bottom: 0px;
	}
	.populaires h5,
	.activites h4 {
		font-size: 1em;
	}
	.hebergements p {
		font-size: 0.6em;
	}
	.boxpopulaire p {
		font-size: 0.8em;
	}
	.container {
		width: 55%;
	}
	.boxhebergement {
		width: 25vw;
		height: 15vw;
	}

	
}

@media screen and (max-width: 1028px){
	.imgactivbig {
		height: 400px;
	}
	.imgactiv1 {
		height: 160px;
}
	.imgactiv2 {
		height: 140px;
}
	.imgactiv3 {
		height: 150px;
}
	.imgactiv4 {
		height: 150px;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 200px;
	}
	.activite1,
	.activite4 {
		height: 460px;
	}
	.activite2 {
		height: 200px;
	}
	.activite3 {
		height: 190px;
	}
	.activite5,
	.activite6 {
		height: 210px;
	}
	.etoiles,
	.etoilesheb {
		font-size: 13px;
	}
	

}

@media screen and (max-width: 900px){
	main {
    	flex-direction: column-reverse;
  	}
    .charticon {
    	font-size: 3vw;
    }
  	.boxpopulaire h5 {
		font-size: 1.1em;
		padding-left: 5px;
	}
	.boxpopulaire p {
		font-size: 1em;
		padding-left: 5px;
	}
	.hebergements h4,
	.afficherplus {
		font-size: 0.9em;
	}
	.hebergements p {
		font-size: 0.8em;
	}
    #hebergements {
    	font-size: 1.4em;
    }
    .imagepopulaire {
    	margin-right: 0px;
    	height: 100%;
    }
    .etoiles,
    .etoilesheb {
    	font-size: 1.3vw;
    }
    .etoiles {
    	padding-left: 5px;
    }
    .imagepopulaire {
    	width: 30%;
    	height: 100%;
    	border-bottom-left-radius: 20px;
    	border-top-left-radius: 20px;

    }
	#activitesection {
		width: 100%;
		height: 800px;
		flex-direction: column;
	}
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 350px;
		height: 170px;
		margin-bottom : 20px ;
		margin-right: 10px ;
		margin-left : 10px ;
		flex-direction: column;
	}
	.imgactivbig,
	.imgactiv1,
	.imgactiv2,
	.imgactiv3,
	.imgactiv4 {
		height: 120px;
	}
	.lespluspopulaires,
	.container,
	.poptitle {
		width: 100%;
		position: relative;
		margin-left: 50px;
		margin-right: 50px;

	}
	.lespluspopulaires,
	.container {
		margin-bottom: 30px;
	}
	.boxpopulaire {
		width: 30vw;
		height: 15vw;
		padding: 0px;
	}
	.boxhebergement {
		width: 28vw;
		height: 17vw;
		padding: 0px;
	}
	.poptitle {
		margin-left: 10px;
	}
	.hebergements p {
		padding-bottom: 0px;
	}
	.research {
		width: 502px;
		height: 51px;
	}
	.mapmarker i {
  		height: 55px;
  		width: 59px;
	}
	.searchfield {
		height: 43px;
	}
	.searchbutton {
		height: 51px;
		box-shadow: 0 0 1px 1px #0065FC;
	}

}

@media screen and (max-width: 800px){
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 300px;
		margin-right: 10px;
	}
	.menuheb,
	.menuactiv,
	.sinscrire {
    	font-size: 1.3em;
	}
	h2 {
		font-size: 1.3em;
	}
	.info p {
  		font-size: 1.1em;
  	}
  	.logo {
		width: 120px;
	}
	.boxpopulaire {
    	width: 100%;
    	height: 24vw;
  	}
	.boxpopulaire p {
		font-size: 1.1em;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.hebergements p,
	footer ul li {
		font-size: 0.9em;
	}
	.boxpopulaire h5 {
		font-size: 1.2em;
		padding-bottom: 0px;
	}
	.hebergements h4,
	.afficherplus {
		font-size: 1em;
	}
  	h3 {
    	font-size: 1.6vw;
  	}
  	.boxhebergement {
		height: 30vw;
		width: 40vw;
	}
	.imagepopulaire {
		width: 30%;
		height: 100%;
	}
	.etoiles,
	.etoilesheb {
		font-size: 16px;
	}
	.activites h4,
	footer h5 {
		font-size: 1.2em;
	}

}

@media screen and (max-width: 700px){
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 250px;
	}
	.imgactivbig,
	.imgactiv1,
	.imgactiv2,
	.imgactiv3,
	.imgactiv4 {
		height: 110px;
	}
	.flex-container {
    	width: 100%;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: reverse;
    	-ms-flex-direction: column-reverse;
    	flex-direction: column-reverse;
		position: relative;
		justify-content: space-between;
	}
    .menuheb:hover {
    	border-bottom: 2.5px solid;
    	border-bottom-color: #0065FC;
    	border-top-color: transparent;
	}
    .menuactiv:hover {
    	border-bottom: 2.5px solid;
    	border-bottom-color: #0065FC;
    	border-top-color: transparent;
	}
	.logo {
		width: 150px;
	}
	.boxpopulaire {
    	width: 100%;
    	height: 22vw;
  	}
  	.searchfa {
		background-color: #0065fc;
		color: white;
		border-color: #0065fc;
		margin-left: 0px;
		width: 60px;
		border-radius: 10px;
		height: 54px;
		box-shadow: 0 0 1px 1px #0065FC;
	}
	.research {
		width: 450px;
	}
	.searchbutton {
		display: none;
	}
	.searchfield {
		border-color: transparent;
		height: 50px;
		width: 380px;
	}
	.boxhebergement {
		width: 100%;
		height: 37vw;
	}
	.imgheb {
		height: 150px;
	}
	nav ul {
		width: 100%;
		border-bottom-color: black;
		border-bottom: 1px solid;
		padding-bottom: 15px;
	}
	.sinscrire {
		margin-left: 62vw;
	}
	.menuactiv {
		margin-left: 28vw;
	}


}	

@media screen and (max-width: 600px){
	.activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 85%;
		height: 180px;
	}
	.imgactivbig,
	.imgactiv1,
	.imgactiv2,
	.imgactiv3,
	.imgactiv4 {
		height: 110px;
	}
	#activitesection,
	.activites {
		height: auto;
	}
	footer {
		flex-direction: column;
	}
	h1 {
		font-size: 1.8em;
	}
	.recherche p {
		font-size: 1.1em;
	}
    .icontextfilters {
		width: 205px;
	}
	.filterdescription {
		width: 130px;
		height: 20px;
		font-size: 0.9em;
	}
	h2 {
		font-size: 1.2em;
	}
	.charticon {
		font-size: 1.7em;
	}
	.boxhebergement {
		height: 45vw;
	}
	.research {
		width: 400px;
	}
	.searchfield {
		border-color: transparent;
		height: 50px;
		width: 330px;
		font-size: 1.1em;
	}
	.sinscrire {
		margin-left: 58vw;
	}
	.menuactiv {
		margin-left: 16vw;
	}
}

@media screen and (max-width: 500px){
    .activite1,
	.activite2,
	.activite3,
	.activite4,
	.activite5,
	.activite6 {
		width: 100%;
	}
	.lespluspopulaires h3,
    #activitesection h3 {
		font-size: 1.5em;
	}
	#activitesection h3 {
		margin-left: 5px;
	}
	#hebergements {
		font-size: 1.3em;
	}
	h1 {
		font-size: 1.7em;
	}
	nav ul li {
    	margin-right: 5px;
	}
	.iconinfo {
		width: 20px;
		height: 25px;
		align-items: center;
    	font-size: 0.7em;
    	padding-left: 12px;
    	margin-right: 10px;
	}
	#activitesection {
		margin-left: 0px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 10px;
	}
	.activites {
		margin-left: 0px;
	}
	.sinscrire {
		margin-left: 50vw;
	}
	.menuactiv {
		margin-left: 5px;
	}
	.menuheb {
		margin-left: 5px;
	}
	.research {
		width: 320px;
	}
	.searchfield {
		border-color: transparent;
		height: 50px;
		width: 250px;
	}
	.logo,
	.recherche,
	.container,
	.lespluspopulaires,
	.filtres,
	.info {
		margin-left: 15px;
	}
	.flex-container {
		margin-left: 5px;
		margin-right: 0px;
	}
	.iconeconomique,
	.iconanimal,
	.iconchild,
	.iconheart {
		width: 20px;
		height: 20px;
	}
	.filters {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.boxhebergement {
		height: 55vw;
	}
	.boxpopulaire {
		height: 30vw;
	}
	.populaires p {
		padding-bottom: 20px;
	}
	

}

@media screen and (max-width: 410px){
	.searchfield {
    	width: 210px;
    }
	.logo {
		width: 110px;
	}
	h1 {
		font-size: 1.4em;
	}
	.recherche p {
		font-size: 1em;
	}
	.searchfield {
		font-size: 1em;
		width: 165px;
	}
	.filterdescription {
		font-size: 1em;
	}
    .menuheb,
	.menuactiv,
	.sinscrire {
    	font-size: 0.93em;
	}
	.flex-container {
		width: 100%;
	}
	.boxpopulaire {
		height: 40vw;
	}
	.boxhebergement {
		height: 60vw;
	}
	.lespluspopulaires h3,
    #activitesection h3 {
		font-size: 1.3em;
	}
	#hebergements {
		font-size: 1.1em;
	}
	.boxpopulaire h5,
	footer h5,
	.activites h4 {
		font-size: 1.1em;
	}
	.hebergements h4,
	.afficherplus {
		font-size: 0.9em;
	}
	.boxpopulaire p {
		font-size: 0.9em;
	}
	.hebergements p,
	footer ul li {
		font-size: 0.8em;
	}
	.charticon {
		font-size: 1.3em;
	}
	.iconinfo {
		width: 25px;
		height: 25px;
		align-items: center;
    	font-size: 0.7em;
	}
	 .icontextfilters {
		width: 210px;
	}
	.filterdescription {
		width: 140px;
		height: 20px;
		font-size: 0.9em;
	}
	.imgheb {
		height: 120px;
	}

	
}
